h1= title

form(action='', method='POST')
	p
	input(type='radio', name='winner', value='italy') 
	| Italy
	br
	input(type='radio', name='winner', value='spain') 
	| Spain 
	br
	input(type='submit', value='Go!')
